<%= turbo_frame_tag dom_id(task) do %>
  <div class="p-4 border rounded-md shadow-md mb-4">
    <div>
      <%= link_to project_task_path(task.project, task), "data-turbo-prefetch": false, "data-turbo-frame": :show_task_details, class: "" do %>
        <h4 class="text-lg"><span class="font-bold">Title: </span><%= task.title %></h4>
        <p><span class="font-bold">Desc: </span><%= task.description %></p>
        <p><span class="font-bold">Status: </span><%= task.status %></p>
        <a href="<%= edit_project_task_path(project, task) %>" class="px-0 text-blue-600" data-turbo-stream="true" data-turbo-frame="modal_frame">Edit Task</a>
      <% end %>
    </div>
    <div>
      <% if task.status == "completed" %>
        <%= button_to "delete", project_task_path(task.project, task), method: :delete, class: "text-red-500 hover:text-red-700", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this task?" } %>
      <% end %>
    </div>
  </div> 
<% end %>
